.searchSection {
	display: flex;
	justify-content: space-evenly;
	width: 80vw;
	min-width: 650px;
}

.govtOfficialButton {
	color: #499eff;
	outline: none;
	border: none;
	background-color: #f5f5f5;
	border-radius: 3px;
	padding: 10px 15px;
	font-size: 16px;
	transition: transform 0.5s ease-in-out;
	display: inline-block;
	position: relative;
	height: -webkit-fill-available;
}

.govtOfficialButton:hover {
	color: #f5f5f5;
	border-radius: 3px;
	-webkit-transition: background-color 0.3s linear;
	-ms-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	background-color: #499eff;
	transform: scale3d(1.05, 1.05, 1);
	cursor: pointer;
	box-shadow: 0 22px 25px 0 rgb(135 144 183 / 32%), 0 9px 23px 0 rgb(0 96 182 / 33%);
}

.govtOfficialButton:active {
	color: white;
	background-color: #4f8ace;
	transform: scale3d(1.25, 1.25, 1);
	box-shadow: 0 22px 28px 0 rgb(135 144 183 / 46%), 0 9px 23px 0 rgb(0 96 182 / 54%);
}

.govtOfficialButton:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: green;
	transform-origin: bottom right;
	transition: transform 0.5s ease-out;
}

.stateBox {
	box-shadow: 0px 2px 3px 0 rgb(135 144 183 / 22%), 1px 8px 20px 0px rgb(0 96 182 / 19%);
	border-radius: 3px;
	height: fit-content;
	align-self: center;
}

.stateBox:hover {
	color: #f5f5f5;
	border-radius: 3px;
	-webkit-transition: background-color 0.3s linear;
	-ms-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	background-color: #499eff;
	transform: scale3d(1.05, 1.05, 1);
	cursor: pointer;
	box-shadow: 0 22px 25px 0 rgb(135 144 183 / 32%), 0 9px 23px 0 rgb(0 96 182 / 33%);
}

.stateInput::placeholder {
	color: #499eff;
}
.stateInput {
	color: #499eff;
	outline: none;
	border: none;
	background-color: #f5f5f5;
	border-radius: 3px 0 0 3px;
	padding: 10px 0 10px 15px;
	font-size: 16px;
	margin: 0;
	transition: transform 0.5s ease-in-out;
	display: inline-block;
	position: relative;
}

.clearButton {
	color: #499eff;
	outline: none;
	border: none;
	background-color: #f5f5f5;
	border-radius: 0 3px 3px 0;
	padding: 10px 15px;
	font-size: 16px;
	margin: 0;
	transition: transform 0.5s ease-in-out;
	display: inline-block;
	position: relative;
	height: -webkit-fill-available;
}

.clearButton:hover {
	color: #f5f5f5;
	background-color: #499eff;
	transition: color 0.3s ease-in-out;
	transition: background-color 0.5s ease-in-out;
	cursor: pointer;
}

.searchButton {
	color: #f5f5f5;
	outline: none;
	border: none;
	background-color: #499eff;
	border-radius: 3px;
	padding: 10px 15px;
	font-size: 16px;
	margin: 0 1vw;
	box-shadow: 0px 5px 7px 0 rgb(0 0 0 / 9%), 1px 8px 20px 0px rgb(98 181 255 / 47%);
	transition: transform 0.5s ease-in-out;
	display: inline-block;
	position: relative;
	margin: 1vw 0;
}

.searchButton:hover {
	color: #499eff;
	border-radius: 3px;
	-webkit-transition: background-color 0.3s linear;
	-ms-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	background-color: #f5f5f5;
	transform: scale3d(1.05, 1.05, 1);
	cursor: pointer;
	box-shadow: 0 22px 25px 0 rgb(135 144 183 / 32%), 0 9px 23px 0 rgb(0 96 182 / 33%);
}

.searchButton:active {
	color: #f5f5f5;
	background-color: #499eff;
	transform: scale3d(1.25, 1.25, 1);
	box-shadow: 0 22px 28px 0 rgb(135 144 183 / 46%), 0 9px 23px 0 rgb(0 96 182 / 54%);
}

.selectedOfficialType {
	color: #f5f5f5;
	outline: none;
	border: #5d5d5d;
	border-style: solid;
	background-color: #499eff;
	border-radius: 3px;
	padding: 10px 15px;
	font-size: 16px;
	transition: transform 0.5s ease-in-out;
	display: inline-block;
	position: relative;
	box-shadow: inset 0px 0px 11px 0px #5d5d5d, inset 0px 0px 10px 0px #5d5d5d;
	height: -webkit-fill-available;
}

.boxShadow {
	box-shadow: 0px 2px 3px 0 rgb(135 144 183 / 22%), 1px 8px 20px 0px rgb(0 96 182 / 19%);
	height: fit-content;
	align-self: center;
	border-radius: 3px;
}
