.app {
	text-align: center;
}

.header {
	background-color: white;
	color: #499eff;
	min-height: 10vh;
	align-items: left;
	justify-content: left;
	font-size: 25px;
	font-weight: bold;
}

.headerText {
	text-align: left;
	padding: 10px;
}
