.representativesSection {
	font-family: 'Lato', sans-serif;
	display: grid;
	grid-template-columns: 50% 50%;
	place-items: center;
}

.tableTitles {
	display: grid;
	grid-template-columns: 47vw 3vw 47vw;
	grid-column: 1 / 4;
	text-align: left;
	width: 100vw;
	place-content: center;
	font-size: 23px;
	padding-top: 20px;
	color: #787878;
	cursor: default;
}

.tablesSection {
	grid-column: 1 / 4;
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.infoTableTitle {
	grid-column: 3 / 4;
}

.representativesTable {
	width: 47vw;
	max-height: 10vw;
	margin-top: 20px;
	cursor: default;
}

.individualTable {
	width: 47vw;
	max-height: 10vw;
}

.card {
	box-shadow: none;
}

.cardContent {
	padding: 0;
}

.tableHeader {
	background-color: #f8f8f9;
	border-style: solid;
	border-width: 0;
	border-top-width: 1.2px;
	border-color: #f6f6f6;
}

.headerCell {
	color: #787878;
	padding: 7px 10px;
	border-color: #f6f6f6;
}

.infoRow {
	border: white;
	border-style: solid;
	border-width: 20px 0;
}

.infoCell {
	padding: 0;
	border: white;
	border-style: solid;
	border-width: 20px 0;
}

.repRow:hover {
	background-color: #a9a9a9;
	border-radius: 3px;
	-webkit-transition: background-color 0.3s linear;
	-ms-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	box-shadow: 0 22px 25px 0 rgb(135 144 183 / 32%), 0 9px 23px 0 rgb(0 96 182 / 33%);
}

.repRow:active {
	background-color: #499eff;
	transform: scale3d(1.05, 1.05, 1);
	box-shadow: 0 22px 28px 0 rgb(135 144 183 / 46%), 0 9px 23px 0 rgb(0 96 182 / 54%);
}

.repTableBody tr:hover td {
	color: white;
	cursor: pointer;
	-webkit-transition: background-color 0.3s linear;
	-ms-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	-webkit-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.repCell {
	padding: 10px 10px;
	border-color: #f6f6f6;
}

.repCell:hover {
	color: white;
}

.infoText {
	color: #a9a9a9;
	background-color: #f4f4f5;
	border-radius: 3px;
	padding: 8px 10px;
	font-size: 16px;
	cursor: default;
}

.link {
	color: #a9a9a9;
	background-color: #f4f4f5;
}

.link:hover {
	color: #499eff;
}

.blankSpace {
	width: 47vw;
}

.officialType {
	color: #499eff;
}

.selectedDemocrat {
	background-color: #499eff;
	box-shadow: 0px 20px 28px 0 rgb(186 194 228 / 46%), 0px 5px 10px 0 rgb(0 96 182 / 54%);
}

.selectedRepublican {
	background-color: #ec0000;
	box-shadow: 0px 20px 28px 0 rgb(186 194 228 / 46%), 0px 5px 10px 0 rgb(0 96 182 / 54%);
}

.selectedIndependent {
	background-color: #499eff;
	box-shadow: 0px 20px 28px 0 rgb(186 194 228 / 46%), 0px 5px 10px 0 rgb(0 96 182 / 54%);
}

.selectedDemocrat td {
	color: white;
}

.selectedRepublican td {
	color: white;
}

.selectedIndependent td {
	color: white;
}
